
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#fe724c;
    --primary-color-dark:#d6512c;
    --text-dark:#122b51;
    --text-light:#6b7d92;
    --extra-light:#f4f4f4;
    --white:#ffffff;
    --max-width:1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section_header{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--text-dark);
    text-align: center;
}
.section_description{
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
}
.btn{
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--primary-color-dark);
}
img{
    display: flex;
    width: 10%;
}

a{
    text-decoration: none;
    transition: 0.3s;

}
ul{
    list-style: none;
}
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}
nav{
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    gap: 2rem;
    z-index: 9;
}
.nav_logo img{
    max-width: 120px;

}
.nav_btns{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav_btns .btn{
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
}
.nav_btns .btn span:nth-child(1){
    color: var(--text-dark);
    background-color: var(--extra-light);
}
.nav_btns .btn:nth-child(2){
    display: none;
}
.nav_btns .btn:nth-child(1):hover{
    color: var(--white);
    background-color: var(--primary-color);
}
.header_img img{
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block;

}
header{
    position: relative;
    isolation: isolate;
    display: grid;
    padding-top: 5rem;
}
header::before,
header::after{
    position: absolute;
    content: "";
    width: 100%;
    max-width: 40rem;
    aspect-ratio: 1;
    top: 50%;
    left: 0;
    transform: translate (-50%, -50%);
    border: 6rem solid var(--extra-light);
    border-radius: 100%;
    z-index: -1;

}
header::after{
    max-width: 80rem;
}
.header_img{
    overflow: hidden;
}
.header_content{
    padding: 1rem;
}
.header_content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: 5rem;
    color: var(--text-dark);
    text-align: center;
}
header_content .section_description{
    margin-bottom: 3rem;
}
.header_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header_links img{
    max-width: 225px;
}
.workout_container{
    position: relative;
    z-index: 1;
    padding: 5rem 0;
    display: grid;
}
.worker_wrapper{
    overflow: hidden;
}
.workout_images{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;

    animation: scroll-left 30s linear infinite;
}
@keyframes scroll-left{
    to{
        transform: translateX(calc(-50% - 0.5rem));
    }
}
.workout_images imf{
    max-width: 350px;
    border-radius: 1rem;
}
workout_content{
    padding: 2rem 1rem;
}
.story_container{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}
.story_image img{
    max-width: 500px;
    margin-inline: auto;
    width: 500px;
    
}
.story_content .section_description{
    margin-bottom: 1rem;
    

}

.story_link{
    margin-top: 2rem;
    text-align: center;
}
.story_link a{
font-weight: 500;
color: var(--text-dark);
}
.story_link a:hover{
    color: var(--primary-color);
}
.feature_grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}
.feature_grid li {
    display: flex;
    gap: 1rem;
}
.feature_grid span{
  display: inline-flex;
  justify-content: flex-end;
  width: 8rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  color: var(--extra-light);  
}
.feature_grid h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-dark);
}
.feature_grid p {
    color: var(--text-light);
    line-height: 1.75rem;
}
.download_container{
    max-width: 1024px;
}
.download_container .section_description{
    max-width: 750px;
    margin-inline: auto;
}
.download_image{
    margin-top: 4rem;
    width: 1500px;
}
.membership_container {
    background-color:var(--extra-light);
    display: grid;
}
.membereship_image{
    height: 100%;
    

}
.membereship_image img{
    height: 100%;
    object-fit: cover;
    object-position: center right;
    text-align: center;
    
    
    
}

.membership_content{
    padding: 5rem 1rem;
}
.membership_content .section_description{
    font-weight: 500;
}
.membership_content .section_description span{
    font-size: 1.5rem;
    color: #ffc529;
}
.membereship_btn {
    margin-top: 2rem;
    text-align: center;
}
.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4rem 2rem;
}   
.footer_logo img{
    max-width: 125px;
    width: 90px;
}
.footer_links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.footer_links a {
    color: var(--text-light);
}
.footer_links a:hover{
    color: var(--primary-color);
}
.footer_socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer_socials a{
    font-size: 1.2rem;
    color: var(--text-light);
}
.footer_socials a:hover {
    color: var(--primary-color-dark);
}
.footer_bar {
    padding: 1rem;
    color: var(--text-light);
    background-color: var(--extra-light);
    text-align: center;
}
@media(width >76px){
    nav{position: relative;
    padding: 2rem 1rem;
background-color: transparent;
}
.nav_btns .btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
}
.nav_btns .btn span:nth-child(1){
    display: none;
}
.nav_btns .btn span:nth-child(2){
    display: block;
}
header{
    padding-top: 0;
    grid-template-columns: minmax(0,1fr)
    minmax(0,calc(var(--max-width)/2))
    minmax(0,calc(var(--max-width)/2))
    minmax(0,1fr);
    align-items: center;
    
}
.header_img{
    grid-column: 2/3;
}
.header_content :is(h1, .section_description){
    text-align: left;
}
.header_links{
    justify-content: flex-start;
}
.workout_container{
    grid-template-columns: 
    minmax(0,1fr)
    minmax(0,calc(var(--max-width)/2))
    minmax(0,calc(var(--max-width)/2))
    minmax(0,calc(var(--max-width)/2))
    minmax(0,1fr);
    align-items: center;
}
.workout_content {
    grid-column: 2/3;
}
.workout_wrapper {
    grid-row:1/2;
    grid-column: 3/6;
}
.workout_content :is(.section_header, .section_description){
    text-align: left;
}
.story_container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.story_content :is(.section_header, .section_description, .story_link){
    text-align: left;
}
.feature_grid{
    grid-template-columns: repeat(2,1fr);
    gap: 0 2rem;
}
.feature_grid li:nth-child(2),
.feature_grid li:nth-child(4){
    margin-top: 3rem;;
}
.membership_container{
    grid-template-columns:
    minmax(0,1fr)
    minmax(0,calc(var(--max-width)/2))
    minmax(0,calc(var(--max-width)/2))
    minmax(0,1fr) 

    ;

    align-items: center;
}
.membership_image{
    grid-column: 1/3;
}
.membership_content :is(.section_header, .section_description, .membereship_btn){
    text-align: left;
}
.footer_container{
    flex-direction: row;
}
.footer_logo{
    flex: 1;
}
.footer_links{
    flex-direction: row;
}
.footer_socials{
    flex: 1;
    justify-content: flex-end;
}
}
@media(width >1024px){
    .header_content h1{
        font-size: 4.75rem;
        line-height: 5.5rem;
    }
    .feature_grid{
        grid-template-columns: repeat(2,1fr);
        gap: 0 4rem;
    }
    .membership_content{
        padding: 5rem 2rem;
    }
    footer_links{
        gap: 2rem;
    }
}